html, body{margin:0; padding:0;}

#name{
    text-align: center;
}
div{
    height: 970px;
    width: 100%;
    position: relative;
    top:0;
    left:0;
}
.page1{
    background-color: blue;
}
.page2{
    background-color: green;
}
.page3{
    background-color: brown;
}