html, body{margin:0; padding:0;}

.title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#name{
    text-align: center;
    font-size:40px;
}
div{
    height: 100vh;
    width: 100%;
    position: relative;
    top:0px;
    left:0;
    padding:1px
}
.page1{
    background-image: url(https://wallpaperaccess.com/full/378016.jpg);

}
.page2{
    background-color: green;
}
.page3{
    background-color: brown;
}