html, body{
    z-index: 1;
    margin:0;
    padding:0;
}
div{
    height: 100vh;
    width: 100%;
    position: relative;
    top:0px;
    left:0;
    padding:1px;
}
.page1{
    background-image: url('https://wallpapercave.com/wp/ESQJKJ9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.page2{
    background-color: green;
}
.page3{
    background-color: brown;
}
.title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#page1Main{
    text-align: center;
    font-size:40px;
    color:#41486e;
    top: 25vh;
    text-decoration:underline;
}
#gitHubIcon{
    z-index: 100;
    background-color: pink;
    top: -100.5vh;
    left: 0;
    height: 40px;
}
#gitHubIcon, a{
    text-align: right;
    padding: 5px;
}